<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Show Contact</strong>
    </div> 
        
    <div class="form-horizontal">
            <div class="row">
              <div class="col-md-8">

                <div class="form-group">
                  <!--<div class="control-label col-md-3" ><strong>Name:</strong></div>-->         
                  <div style="padding:9px; text-align:center; font-weight: bold; font-size: 30px; text-transform: uppercase;" class="col-md-8">
                    <%= @contact.name %>  
                  </div>              
                </div>
                
    
                <div class="form-group">
                  <label class="control-label col-md-3">Department:</label>             
                  <div style="padding:9px;" class="col-md-8">
                    <%= @contact.department %>  
                  </div>              
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3">Email:</label>           
                  <div style="padding:9px;" class="col-md-8">
                    <%= @contact.email %>  
                  </div>              
                </div>
    
                
              <% if @contact.phone.present? %>
                <% @contact.phone.each do |b| %>
                  <% if !b.phone.empty? %>
                  <div class="form-group">
                    <div class="adderfield">
                      
                        <label class="control-label col-md-3">Phone:</label>             
                        <div style="padding:9px;" class="col-md-8">
                          <%= b.phone %>        
                        </div> 
                      
                    </div>  
                  </div>
                  <% end %> 
                <% end %>
              <% end %>
                
                 

        
              <% if @contact.address.present? %>
                <% @contact.address.each do |b| %>
                  <% if !b.address.empty? %>
                  <div class="form-group">
                    <div class="adderfield">
                      
                        <label class="control-label col-md-3">Address:</label>             
                        <div style="padding:9px;" class="col-md-8">
                          <%= b.address %>        
                        </div> 
                      
                    </div>  
                  </div> 
                  <% end %>
                <% end %>
              <% end %>

           

                <div class="form-group">
                    <label class="control-label col-md-3">Brief-Note:</label>           
                      <div style="padding:9px;" class="col-md-8">
                        <%= @contact.breif_note %>  
                      </div>             
                  </div>
                
                <div class="form-group">
                  <label for="group" class="control-label col-md-3">Group</label>
                  <div style="padding:9px;" class="col-md-8">
                      <%= Group.find(@contact.group_id).name %>  
                    </div> 
                  
                </div>
                <div class="form-group" id="add-new-group" style="display: none;">
                  <div class="col-md-offset-3 col-md-8">
                    <div class="input-group">
                      <input type="text" name="new_group" id="new_group" class="form-control">
                      <span class="input-group-btn">
                        <a href="#" class="btn btn-default">
                          <i class="glyphicon glyphicon-ok"></i>
                        </a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div style="padding:50px;" class="col-md-4">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                  <div class="fileinput-new thumbnail" style="width: 150px; height: 150px;">
                    <%= image_tag @contact.avatar.url(:medium) %>
                  </div>
                  <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 150px; max-height: 150px;"></div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-offset-3 col-md-6">
                  
                  <%= link_to "Edit", edit_contact_path, class: "btn btn-primary" %>
                  <%= link_to "Delete", contact_path,:method => :delete, class: "btn btn-danger", title: "Delete", data: { confirm: "Are you sure ?" }%> 
                  <%= link_to "Back", contacts_path, class: "btn btn-primary" %> 
                  
                             
                </div>
              </div>
            </div>
          </div>
        </div>
      
        
</div>